/* .card{
position:relative;
width: 400px;
padding: 20px;
max-width: 85vw;
height:50vh;
border-radius: 10px;
background-position: center;
background-size: cover;
} */
/* 
.card h3{
  color: #fff;
  position: absolute;
  bottom: 0;
  margin: 10px;
} */

.tinderCard_container{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: row;
  display: flex;
  gap:'5rem';
  position: absolute;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  overflow: hidden;
}

.swipe{
  flex-direction: row;
  display: flex;
  gap:'5rem';
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100vw;
}